[paths]
# File name of list of sbid for generate XMLs
sbidlistname = 

# Folder name for xml file output
xmlfoldername = 

# XML file name output
xmlfilename = 

# Concatenate folder and file - DO NOT CHANGE
xmlout = ${paths:xmlfoldername}/${paths:xmlfilename}


[books.scielo]
# URL of SciELO Books website
url = 


[couchdb-books]
# URL of CouchDB service
url = 

# port number of service
port =  
