[paths]
# File name of list of sbid for generate KBART [required]
sbidlistname = 

# Folder name for KBART file output [required]
kbartfoldername = output

# KBART file name output [optional]
kbartfilename = 


[books.scielo]
# Host of SciELO Books website [required]
host = 


[couchdb-books]
# Host of CouchDB service [required]
host = 

# port number of service [required]
port = 
